# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# PyCharm / VSCode / other IDEs
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
